extends layout

block content

	#dv-loading.callout.callout-info.text-center.col-md-9
		span.loading.text-muted &nbsp;#{__('welcome to new system v2')}

	if info.memberType == 'administrator'
		| sdfsdf sdf sdf sdfsdfsd sdfsdfsdf


	.col-md-3
		.box.box-success.box-solid
			.box-header
				h3.box-title LINE Official
			.box-body
				center Line ID : 
					b @RemaxThailand
					br
					img.img-responsive.margin-top-5.margin-bottom-5(src="/images/line-remaxthailand.png")
				|  กรุณา Add Line เพื่อสอบถามข้อมูล และรับสิทธิพิเศษต่างๆ รวมทั้งแจ้งการชำระเงินเพื่อยืนยันคำสั่งซื้อค่ะ