extends layout

block content

	#dv-loading.col-md-9
		.callout.callout-info.text-center
			span.loading.text-muted &nbsp;#{__('welcome to new system v2')}

		if info.memberType == 'administrator'
			#dv-history.row
				.col-md-4.col-xs-6
					.small-box.bg-aqua
						.inner
							h3 150
							p New Orders
						.icon
							i.ion.ion-bag
						a.small-box-footer(href='#')
							| More info 
							i.fa.fa-arrow-circle-right

				.col-md-4.col-xs-6
					.small-box.bg-aqua
						.inner
							h3 150
							p New Orders
						.icon
							i.ion.ion-android-time
						a.small-box-footer(href='#')
							| More info 
							i.fa.fa-arrow-circle-right

				.col-md-4.col-xs-6
					.small-box.bg-aqua
						.inner
							h3 150
							p New Orders
						.icon
							i.ion.ion-trophy
						a.small-box-footer(href='#')
							| More info 
							i.fa.fa-arrow-circle-right


	.col-md-3
		.box.box-success.box-solid
			.box-header
				h3.box-title LINE Official
			.box-body
				center Line ID : 
					b @RemaxThailand
					br
					img.img-responsive.margin-top-5.margin-bottom-5(src="/images/line-remaxthailand.png")
				|  กรุณา Add Line เพื่อสอบถามข้อมูล และรับสิทธิพิเศษต่างๆ รวมทั้งแจ้งการชำระเงินเพื่อยืนยันคำสั่งซื้อค่ะ