extends layout

block content

	ul
		li
			a(href="https://24fin-api.azurewebsites.net/report/aging/1") Stock Aging Report สาขา 1
		li
			a(href="https://24fin-api.azurewebsites.net/report/aging/4") Stock Aging Report สาขา 4

	ul
		li
			a(href="https://24fin-api.azurewebsites.net/report/run_rate/1") Stock Run Rate Report สาขา 1
		li
			a(href="https://24fin-api.azurewebsites.net/report/run_rate/4") Stock Run Rate Report สาขา 4